<div class="selectors-container">
  <span>Show me </span>

  <!--GENRES-->
  <md-select md-selected-text="printSelectedGenres()"
             multiple="true"
             class="selector md-no-underline"
             md-container-class="selector-option"
             ng-model="selectedGenres"
             md-on-open="loadUsers()">
    <md-optgroup label="Choose genres">
      <md-option ng-value="genre" ng-repeat="genre in genres |
              filter:searchTerm">{{genre}}</md-option>
    </md-optgroup>
  </md-select>
  <span> movies </span>

  <span> from </span>

  <!--DECADE-->
  <md-select 
             class="selector md-no-underline"
             md-container-class="selector-option"
             ng-model="selectedDecade">
    <md-option class="selector-option" ng-value="decade" ng-repeat="decade in decades">{{decade.label}}</md-option>
  </md-select>
  
  <span>that are</span>

  <!--RUNTIME-->
  <md-select placeholder="any runtime"
             class="selector md-no-underline"
             md-container-class="selector-option"
             ng-model="selectedRuntime">
    <md-option class="selector-option" ng-value="runtime" ng-repeat="runtime in runtimes">{{runtime.label}}</md-option>
  </md-select>
</div>