<div class="selectors-container">
  <span>I want to watch </span>

  <!--GENRES-->
  <md-select placeholder="any movie"
             class="selector md-no-underline"
             md-container-class="selector-option-style"
             ng-model="user"
             md-on-open="loadUsers()"
             style="min-width: 50px">
    <md-optgroup label="Choose genres">
      <md-option ng-value="genre" ng-repeat="genre in genres |
              filter:searchTerm">{{genre.label}}</md-option>
    </md-optgroup>
  </md-select>

  <span> from </span>
  <br>

  <!--DECADE-->
  <md-select placeholder="any decade"
             class="selector md-no-underline"
             md-container-class="selector-option-style"
             ng-model="user" 
             md-on-open="loadUsers()" 
             style="min-width: 50px">
    <md-option class="selector-option" ng-value="decade" ng-repeat="decade in decades">{{decade.label}}</md-option>
  </md-select>
  
  <span>that is </span>

  <!--RUNTIME-->
  <md-select placeholder="any runtime"
             class="selector md-no-underline"
             md-container-class="selector-option-style"
             ng-model="user"
             md-on-open="loadUsers()"
             style="min-width: 50px;">
    <md-option class="selector-option" ng-value="runtime" ng-repeat="runtime in runtimes">{{runtime.label}}</md-option>
  </md-select>

<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <md-list>
      <md-list-item ng-repeat="item in items">
        <p>Number {{item}}</p>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-primary">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>

</div>