<!--<pw-start-selector ng-show="!isMovieResults">-->
<!--</pw-start-selector>-->

<!--<section ng-show="isMovieResults">-->
<!--<div class="selectors-container" layout="row">-->
<!--<pw-year-selector ng-cloak class="year-selector" flex></pw-year-selector>-->
<!--<pw-genre-selector ng-cloak flex></pw-genre-selector>-->
<!--<pw-runtime-selector ng-cloak flex></pw-runtime-selector>-->
<!--</div>-->
<!--<md-progress-circular class="spinner" md-diameter="200" ng-show="isLoading"></md-progress-circular>-->
<!--<pw-movie-results ng-show="!isLoading" flex></pw-movie-results>-->
<!--</section>-->

<div class="selectors-container preferences">
  <span>I want to watch </span>
  <md-button aria-label="Open demo menu"
             class="genre-button button-style"
             ng-click="showGenres($event)">
    any movie
  </md-button>



  <span>from </span>
  <br>

  <md-menu>
    <md-button aria-label="Open demo menu"
               class="button-style"
               ng-click="$mdOpenMenu($event)">
      any decade
    </md-button>
    <md-menu-content width="6">
      <md-menu-item ng-repeat="item in [1, 2, 3]">
        <md-button ng-click="ctrl.announceClick($index)">
          Option {{item}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <span>that has </span>

  <md-menu>
    <md-button aria-label="Open demo menu"
               class="button-style"
               ng-click="$mdOpenMenu($event)">
      any runtime
    </md-button>.
    <md-menu-content width="6">
      <md-menu-item ng-repeat="item in [1, 2, 3]">
        <md-button ng-click="ctrl.announceClick($index)">
          Option {{item}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>

<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <md-list>
      <md-list-item ng-repeat="item in items">
        <p>Number {{item}}</p>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-primary">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>
