<md-content class="md-padding">
  <md-tabs class="md-accent"
           md-selected="selectedIndex">
    <md-tab id="tab1">
      <md-tab-label>Item One</md-tab-label>
      <md-tab-body>
        <div class="select-title">Select a Decade</div>
        <pw-year-selector ng-cloak="true" selected-decade="selectedDecade"></pw-year-selector>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
      <md-tab-label>Item 2</md-tab-label>
      <md-tab-body>
        <div class="select-title">Select Genres</div>
        <pw-genre-selector ng-cloak="true" selected-genres="selectedGenres"></pw-genre-selector>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab3">
      <md-tab-label>Item Three</md-tab-label>
      <md-tab-body>
        <div class="select-title">Select a Runtime</div>
        <pw-runtime-selector ng-cloak="true" selected-runtime="selectedRuntime"></pw-runtime-selector>
      </md-tab-body>
    </md-tab>
  </md-tabs>
  <md-button class="back-button" ng-show="selectedIndex" ng-click="goBack()">Back</md-button>
  <md-button class="next-button" ng-click="goNext()">Next</md-button>
</md-content>

<!--I feel like watching a movie from the (decade) that is a (genre) and is (duration) long.-->
