pw-movie-results .movie-results {
  margin: 20px;
}

pw-movie-results .movie-card {
  height: 100%;
  width: 100%;
}

pw-movie-results .no-results-message {
  text-align: center;
  margin-top: 50px;
}